<p>
  <%=link_to('首页',root_path)%>/
  <%=link_to('职位列表',jobs_path)%>
</p>
<% if @jobs.count != 0 %>
<div class="container" >
  <div class="row">
    <div class="navi-bar">
      <div class="row navi-bar-item">
        <div class="col-sm-4 navi-bar-1">
          <p>
            <span class="ui-strip"></span>职位列表<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>（点击图标）
          </p>
        </div>

        <div class="navi-line"></div>
      </div>
    </div>
    <div class="wel-cp">
      <% @jobs.each do |job|%>
        <%= render "job_index_item",:job=> job %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<div class="text-center">
    <%=will_paginate @jobs %>
</div>

<hr>
