
<div class="gallery_product col-lg-2 col-sm-2 col-xs-3    show-contain"
style="background-image:url(<%=job.logo.thumb.url%>)" >
  <div class="" style="border:3px solid #d9d9d9;">
    <div class="show-item">
      <h3><%=job.company_name%></h3>
      <div class="" style="height:20px;">
        <hr>
      </div>
      <div class="" style="height:50px;">
        <p><%=job.slogan%></p>
      </div>
      <div class="">
          <%=link_to '立即查看',job_path(job)%>
      </div>
    </div>
  </div>
</div>
