
<div class="row" style="margin:30px 15px 30px;">
  <% @jobs.limit(12).each do |job|%>
  <div class="col-sm-2 col-xl-2 col-xs-4 job-contain" >
    <%=image_tag(job.logo.thumb.url,class:"img-responsive")%>
    <div class="job-content">
      <h4><%=job.company_name%></h4>
      <hr>
      <p><%=job.slogan.strip[0...20]%></p>
      <%=link_to '立即查看',job_path(job)%>
    </div>
  </div>
  <% end %>
</div>
