<div class="jumbotron">
  <h1 class="title">优职网</h1>
  <p class="slogan">优职网——为你提供优质的工作机会</p>
  <p class="lead">
    <%= link_to("start",jobs_path,:class=>"btn btn-primary")%>
  </p>
</div>
<div class="container">
  <div class="gallery_product col-lg-2 col-sm-2 col-xs-3    show-contain">
    <div class="" style="border:3px solid #d9d9d9;">
      <div class="show-item">
        <h2>xx公司</h2>
        <div class="" style="height:20px;">
          <hr>
        </div>
        <div class="" style="height:50px;">
          <p>公司简介。。。。。。。。。。。。。。</p>
        </div>
        <div class="">
            <a href="#">立即查看</a>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery_product col-lg-2 col-sm-2 col-xs-3    show-contain">
    <div class="" style="border:3px solid #d9d9d9;">
      <div class="show-item">
        <h2>xx公司</h2>
        <div class="" style="height:20px;">
          <hr>
        </div>
        <div class="" style="height:50px;">
          <p>公司简介。。。。。。。。。。。。。。</p>
        </div>
        <div class="">
            <a href="#">立即查看</a>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery_product col-lg-2 col-sm-2 col-xs-3    show-contain" style="background-image: image_url('medium_2.png')">
    <div class="" style="border:3px solid #d9d9d9;">
      <div class="show-item">
        <h2>xx公司</h2>
        <div class="" style="height:20px;">
          <hr>
        </div>
        <div class="" style="height:50px;">
          <p>公司简介。。。。。。。。。。。。。。</p>
        </div>
        <div class="">
            <a href="#">立即查看</a>
        </div>
      </div>
    </div>
  </div>


</div>
