body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
 blockquote,th,td {margin:0;padding:0;}
 table {border-collapse:collapse;border-spacing:0;}
 fieldset,img {border:0}
 address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
 ol,ul {list-style:none}
 caption,th {text-align:left}
 h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
 q:before,q:after {content:''}
 abbr,acronym { border:0}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
.navbar {
  margin-bottom: 0px;
}
.jumbotron {
  // background-image: url("http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-542213.png");
  background-image: image_url("business-team.jpg");
  //background-image: image_url("medium_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;

}
.jumbotron h1 {
  color: white;
}
.title {
  font-family: "Helvetica Neue","Microsoft Yahei",微软雅黑;
  text-align: center;
  background-color: blue;
  color: white;
  margin-top: 200px;
  margin-bottom: 80px;
}
.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}
.lead {
  margin-bottom: 60px;
  text-align: center;
  background-color: blue;
  color: white;
}

// 以下是navi-bar
.navi-bar {
  position: relative;
  top: 35px;
}
.navi-bar .ui-strip{
  width: 5px;
  height: 20px;
  background-color: #60c99b;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: 4px;
}
.navi-bar p {
  color: #777;
  font-size: 2rem;
}
.navi-bar .navi-line {
  width: 100%;
  height: 1px;
  background: rgba(40, 40, 40, 0.2);
  color: #009933;
  position: absolute;
  bottom: 0px;
  left: -3px;
}
.navi-bar .navi-more a {
  // float: right;
  text-decoration: underline;
  position: relative;
  top: 8px;
  z-index: 88;
  color: rgba(9,9,9,0.4);
}
.navi-bar-1 {
  position: relative;
  // top: -35px;
}
.navi-bar-item {
  margin-bottom: 17px;
}

// 以下是推荐公司企业专区
.wel-cp {
  margin-top: 90px;
}
.da-thumbs {

}
.da-thumbs #hahali {
  background: #fff;
  padding: 2px;
  position: relative;
  // position: absolute;
}
.da-thumbs  a,
.da-thumbs img {
	display: block;
	width: 100%;
	position: relative;
	border: 2px solid #e8e8e8;
}
.da-thumbs  a {
	overflow: hidden;
}
.da-thumbs #hahadiv h4 {

  font-size: 3rem;
	color: rgba(255,255,255,0.9);
	margin-top: 15px;
}
.da-thumbs .wel-cp-btn {
  /*position: absolute;*/
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
  color: green;
  background-color: #fff;

}
.da-thumbs  #hahadiv {
	position: absolute;
	// background: linear-gradient(0deg,rgba(0,185,90,.65),#00b95a);
	// transition: all 300ms ease;
	width: 100%;
	height: 100%;
}
.da-thumbs  span {
	display: block;
  font-size: 1.6rem;
  height: 70px;
	margin: 10px 10px 10px 10px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	/*box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);*/
}
