body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
 blockquote,th,td {margin:0;padding:0;}
 table {border-collapse:collapse;border-spacing:0;}
 fieldset,img {border:0}
 address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
 ol,ul {list-style:none}
 caption,th {text-align:left}
 h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
 q:before,q:after {content:''}
 abbr,acronym { border:0}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar {
  margin-bottom: 0px;
  color: white;
  font-size: 20px;
}
@media (min-width:768px){
  .navbar{
    border-radius: 0;
  }
}

.wel-container {

  background-image: image_url("business-team.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding-bottom: 110px;
  height: 600px;
}
.wel-container h1{
  font-family: 'Arbutus', cursive;
    text-align:center;
    font-size:80px;
    color:#F8CA4D;
    text-shadow:0px 0px 4px #222;
}

.wel-content {
  margin-top: 180px;
  background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  border-radius: 5px;
  padding: 10px;
}
.container-fluid .jumbotron{
  border-radius: 0;
}

.title {
  font-family: "Helvetica Neue","Microsoft Yahei",微软雅黑;
  text-align: center;
  color: white;
  margin-bottom: 80px;
}
.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}
.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;

}
.lead a{
  padding: 6px 20px;
  font-size: 20px;
}

// 以下是navi-bar
.navi-bar {
  position: relative;
  top: 35px;
}
.navi-bar .ui-strip{
  width: 5px;
  height: 20px;
  background-color: #60c99b;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: 4px;
}
.navi-bar p {
  color: #777;
  font-size: 2rem;
}
.navi-bar .navi-line {
  width: 100%;
  height: 1px;
  background: rgba(40, 40, 40, 0.2);
  color: #009933;
  position: absolute;
  bottom: 0px;
  left: -3px;
}
.navi-bar .navi-more a {
  // float: right;
  text-decoration: underline;
  position: relative;
  top: 8px;
  z-index: 88;
  color: rgba(9,9,9,0.4);
}
.navi-bar-1 {
  position: relative;
  // top: -35px;
}
.navi-bar-item {
  margin-bottom: 17px;
}

// 以下是推荐公司企业专区
.show-contain{

  padding: 3px;
}
.wel-cp {
  margin-top: 90px;
}
.job-contain{
  height: 200px;
  padding: 3px;
}
.job-content{
  position: relative;
  background-color: #783f04;
  text-align: center;
  color: #fff;
  overflow: hidden;
  width: 100%;
  padding: 0 10px;;
  height: 0;
  left: 0;
  top: 0;
  opacity: 0.8;
  transition: 0.5s;

}
.job-content h4{
  margin: 20px;
}
.job-content a{
  border: 2px solid #fff;
  padding: 3px 10px;
  color: #fff;
  text-decoration: none;
}
.job-content a:hover {
  background-color: white;
  color: black;
}
.job-contain:hover .job-content{
  top:-100%;
  height: 100%;
}

.job-contain img{
  width: 100%;
  height: 100%;
  border: 2px solid #d8d8d8;
}




// 以下是carousel部分
.carousel-inner {
    min-height: 300px;

}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    // content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
#myCarousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#myCarousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#myCarousel .carousel-control.left {
    left: -60px;
}
#myCarousel .carousel-control.right {
    right: -60px;
}
#myCarousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#myCarousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#myCarousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
// 以下是首页注册部分
.sign-up-contain {
  text-align: center;
  background-color:#434343;
  color: #fff;
  padding: 10px;
}
// 以下是footer部分
.footer-content{
  background-color: #101010;

}
.footer-content p{
  margin: 0;
}
.footer-content .breadcrumb{
  background-color: #101010;
}
//以下是职位列表页面
.jobs-media{
  border:3px solid rgba(9,9,9,0.4);
  padding:10px 30px 10px;
  border-radius:5px;
  height: 130px;
}
.jobs-media img{
  width:70px;
  border:2px solid rgba(9,9,9,0.4);

}
.jobs-media img:hover{
  width: 85px;
  transition: 1s;
}
.jobs-media .media-left{
  position: relative;
  top: 15px;
}
.jobs-media .media-heading{
  margin-top: 16px;
}
.jobs-media:hover{
  box-shadow: 4px 4px 10px #aaf2f2;
  height: 135px;
}

.jobs-media p{
  max-height:60px;
  overflow:scroll;
}
// 以下是职位信息
.job-mes-panel{
  padding: 10px;

}
.job-mes-contain{
  border: 2px solid #00ffff;
  border-radius: 5px;
  padding: 10px;
}
.job-mes-contain hr{
  margin-top: 2px;

}
.side-mes-panel{
  margin-top: 20px;
  padding: 20px 10px;
  background-color: blue;
  text-align: center;
  border-radius: 5px;
}
.side-mes-panel h1{
  color: white;
}
.side-mes-contain {
  border: 2px solid blue;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
}

.map-contain{
  margin: 10px auto 10px;

}
//以下是devise部分
.devise-container{
  background-image: image_url("welcome.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 700px;
}
.devise-content{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #aaf2f2;
  border: 5px solid #aaf2f2;
  border-radius: 5px;
  padding: 10px;
}
