
<footer class="contain-fluid" >
  <div class="footer-content">
    <ul class="breadcrumb text-center">
      <li><a href="">关于我们</a></li>
      <li><a href="">帮助中心</a></li>
      <li><a href="">诚聘英才</a></li>
      <li><a href="">联系我们</a></li>
      <li><a href="">网站合作</a></li>
      <li><a href="">友情链接</a></li>
    </ul>
    <p class="text-center">
      Copyright @2017 优职网 <br />
      Design by <a href="http://www.yuansus.com" target="_blank">董志钦</a>
    </p>
  </div>

</footer>
